/*  your css code here. If applicable */
table {
	border:1px solid black;
}

td{
	padding:1px;
	margin:1px;
}

h1 {
	text-align:center;
}

.blue {
	background-color:blue;
}

.green {
	background-color:green;
}